<div class="grid-x grid-margin-x">
  <div class="cell large-10 auto-hero">
    <div class="hero-cta">
      <h1>Car buying made easy</h1>
    </div>    
  </div>
</div>
<div class="grid-x grid-margin-x">
  <div class="cell large-10 middle-con">
    <h3 class="gotham-light">Finance your car today</h3>
    <div class="grid-x grid-margin-x">
      <div class="cell large-4">
        <%= image_tag "DrivingImage.png", class:"home-image" %>
        <h4 class="gotham-light">Car buying service</h4>
        <p class="gotham-light">Our customers save an average of $3,628 off MSRP of new cars.</p>
        <a href="about.html" class="button radius">START NOW</a>
      </div>
      <div class="cell large-4">
        <%= image_tag "FinanceCarImage.png", class:"home-image" %>
        <h4 class="gotham-light">Finance a car</h4>
        <p class="gotham-light">It takes on a few minutes to apply online to get your loan approved before you go to the dealer.</p>
        <a href="about.html" class="button radius">APPLY NOW</a>
      </div>
      <div class="cell large-4">
        <%= image_tag "RefinanceLoanImage.png", class:"home-image" %>
        <h4 class="gotham-light">Refinance your loan</h4>
        <p class="gotham-light">Refinancing with the competitive rates may help lower your monthly auto payments.</p>
        <a href="about.html" class="button radius">APPLY NOW</a>
      </div>
    </div>
  </div>
</div>