<div class="grid-x grid-margin-x">
  <div class="cell large-10 mortgages-hero">
    <div class="hero-cta">
      <h1>Home lending you can afford</h1>
    </div>    
  </div>
</div>
<div class="grid-x grid-margin-x">
  <div class="cell large-10 middle-con">
    <h3 style="">How do you want to save?</h3>
    <div class="grid-x grid-margin-x">
      <div class="cell large-4">
        <%= image_tag "MovingImage.png", class:"home-image" %>
        <h4>Moving?</h4>
        <p>Find a home lending expert that fits your needs.</p>
        <a href="about.html" class="button radius">Learn More</a>
      </div>
      <div class="cell large-4">
        <%= image_tag "DiscoverSavings@1x.png", class:"home-image" %>
        <h4>Discover savings plans</h4>
        <p>Explore our savings plans and steps you can take to start saving today.</p>
        <a href="about.html" class="button radius">Start Now</a>
      </div>
      <div class="cell large-4">
        <%= image_tag "EarnCashImage@1x.png", class:"home-image" %>
        <h4>Earn cash back</h4>
        <p>Find the right credit card that will earn you cash back for your spending.</p>
        <a href="about.html" class="button radius">Explore cards</a>
      </div>
    </div>
  </div>
</div>
