<div class="grid-x grid-margin-x">
  <div class="cell large-10 mortgages-hero">
    <div class="hero-cta">
      <h1>Home lending you can afford</h1>
    </div>    
  </div>
</div>
<div class="grid-x grid-margin-x">
  <div class="cell large-10 middle-con">
    <h3 class="gotham-light">Explore your mortgage needs</h3>
    <div class="grid-x grid-margin-x">
      <div class="cell large-4">
        <%= image_tag "BuyHomeImage.png", class:"home-image" %>
        <h4 class="gotham-light">Buy a home</h4>
        <p class="gotham-light">Get the tools and advice for the journey to your new front door.</p>
        <a href="#" class="button radius">Start online</a>
      </div>
      <div class="cell large-4">
        <%= image_tag "RefinanceMortgageImage.png", class:"home-image" %>
        <h4 class="gotham-light">Refinance your mortgage</h4>
        <p class="gotham-light">Learn about what is needed to refinance your mortgage.</p>
        <a href="#" class="button radius">Start Online</a>
      </div>
      <div class="cell large-4">
        <%= image_tag "ManageMortgageImage.png", class:"home-image" %>
        <h4 class="gotham-light">Manage your mortgage</h4>
        <p class="gotham-light">Explore tools to help manage your existing mortgage.</p>
        <a href="#" class="button radius">Manage account</a>
      </div>
    </div>
  </div>
</div>