<footer id="footer">
  <div class="grid-container full">
    <div class="grid-x grid-padding-x footer-con">
      <div class="cell large-6">
        <ul class="footer-links">
          <li>
            <a href="">Search</a>
          </li>
          <li>
            <a href="">About Us</a>   
          </li>
          <li>
            <a href="">Experiment Info</a>
          </li>
          <li>
            © 2017, Optimizely
          </li>
        </ul>
      </div>
      <div class="cell large-6 email-form">
        <form>
          <div class="grid-container">
            <div class="grid-x grid-padding-x"">
              <div class="medium-8 small-12 cell">
                <input type="email" name="Email" placeholder="Get the latest financial news & stories">
              </div>
              <div class="cell medium-4 small-12">
                <button class="button footer-btn">Subscribe</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</footer>
